<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="attach">

	<!-- 글목록 -->
	<select id="getList"
		resultType="com.company.bbs.dto.attach.AttachDto">
	<![CDATA[ 
	select * from jhbbs_attach where file_idx > 0 and del = 'N'
	]]>
		<include refid="search"></include>
	<![CDATA[ 
	order by regdate desc limit #{pageStart}, ${perPageNum}
	]]>
	</select>

	<!-- 글저장 -->
	<insert id="insert"
		parameterType="com.company.bbs.dto.attach.AttachDto">
		INSERT INTO jhbbs_attach (
		file_name, file_hash_name,
		file_size, file_type, file_ext,
		download, hit, idx, pass, title,
		content, cipp, regdate, del,
		board_idx
		) VALUES (
		#{file_name},
		#{file_hash_name}, #{file_size}, #{file_type}, #{file_ext},
		#{download}, #{hit}, #{idx}, #{pass}, #{title}, #{content}, #{cipp},
		#{regdate}, #{del},
		#{board_idx}
		)
	</insert>

	<!-- 답글업데이트 <update id="getReply"> <![CDATA[ update jhbbs_bbs_attach set 
		sortno = sortno+1 where parent=#{parent} and sortno > #{sortno} ]]> </update> -->

	<!-- 글보기 -->
	<select id="getView"
		resultType="com.company.bbs.dto.attach.AttachDto">
		select * from jhbbs_attach where file_idx =
		#{file_idx} and
		del = 'N'
	</select>

	<!-- 글수정 -->
	<update id="update">
		update jhbbs_attach set
		file_name=#{file_name},
		file_hash_name=#{file_hash_name},
		file_size=#{file_size},
		file_type=#{file_type},
		file_ext=#{file_ext},
		title=#{title},
		content=#{content},
		cipp=#{cipp},
		board_idx=#{board_idx}
		where
		file_idx=#{file_idx}
	</update>

	<!-- 글삭제 <delete id="delete"> delete from jhbbs_bbs_attach where file_idx 
		= #{file_idx} </delete> -->

	<!-- 글삭제 update처리 -->
	<update id="delete">
		update jhbbs_attach set del = 'Y' where file_idx =
		#{file_idx}
	</update>

	<!-- 글조회수 -->
	<update id="increaseCnt">
		update jhbbs_attach set hit= hit + 1 where file_idx =
		#{file_idx} and del = 'N'
	</update>

	<!-- 글이전값 -->
	<select id="getPrevNum"
		resultType="com.company.bbs.dto.attach.AttachDto">
	<![CDATA[ 
	select * from jhbbs_attach where file_idx > #{file_idx} and del = 'N' order by file_idx asc limit 1
	]]>
	</select>

	<!-- 글다음값 -->
	<select id="getNextNum"
		resultType="com.company.bbs.dto.attach.AttachDto">
	<![CDATA[
	select * from jhbbs_attach where file_idx < #{file_idx} and del = 'N' order by file_idx desc limit 1
	]]>
	</select>

	<!-- 글최고값 -->
	<select id="getMaxNum" resultType="int">
		select max(file_idx) from jhbbs_attach
		<include refid="search"></include>
	</select>

	<!-- 글갯수 -->
	<select id="getCount" resultType="int">
	<![CDATA[ 
	select count(file_idx) from jhbbs_attach where file_idx > 0 and del = 'N'
	]]>
		<include refid="search"></include>
	</select>

	<!-- 공지글갯수 <select id="getNoticeCount" resultType="int"> <![CDATA[ select 
		count(notice) from jhbbs_bbs_attach where notice > 0 and del = 'N' ]]> <include 
		refid="search"></include> </select> -->

	<!-- 글비밀번호리턴 -->
	<select id="getPassword" resultType="String">
		select pass from
		jhbbs_attach where file_idx = #{file_idx} and del = 'N'
	</select>

	<sql id="category">
		<if test="category_idx > 0">
			AND category_idx = ${category_idx}
		</if>
		<if test="category_idx == 0">
			AND category_idx > 0
		</if>
	</sql>

	<sql id="search">
		<if test="searchField != null">
			<if test="searchField == 'n'.toString()">
				AND (title LIKE CONCAT('%', #{keyWord}, '%') OR content
				LIKE CONCAT('%', #{keyWord}, '%') OR name LIKE CONCAT('%',
				#{keyWord},'%'))
			</if>
			<if test="searchField == 't'.toString()">
				AND title LIKE CONCAT('%', #{keyWord}, '%')
			</if>
			<if test="searchField == 'c'.toString()">
				AND content LIKE CONCAT('%', #{keyWord}, '%')
			</if>
			<if test="searchField == 'w'.toString()">
				AND name LIKE CONCAT('%', #{keyWord}, '%')
			</if>
			<if test="searchField == 'tc'.toString()">
				AND (title LIKE CONCAT('%', #{keyWord}, '%') OR content
				LIKE CONCAT('%', #{keyWord}, '%'))
			</if>
			<if test="searchField == 'cw'.toString()">
				AND (content LIKE CONCAT('%', #{keyWord}, '%') OR name
				LIKE CONCAT('%',#{keyWord}, '%'))
			</if>
			<if test="searchField == 'tcw'.toString()">
				AND (title LIKE CONCAT('%', #{keyWord}, '%') OR content
				LIKE CONCAT('%', #{keyWord}, '%') OR name LIKE CONCAT('%',
				#{keyWord},'%'))
			</if>
		</if>
	</sql>
</mapper>














