<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="category">

	<!-- 글목록 -->
	<select id="getList"
		resultType="com.company.bbs.vo.category.CategoryVO">
	<![CDATA[ 
	select * from jhbbs_category where category_idx > 0 and del = 'N'
	]]>
		<include refid="category"></include>
		<include refid="search"></include>
	<![CDATA[ 
	order by kind desc, parent desc, sortno asc limit #{pageStart}, ${perPageNum}
	]]>
	</select>

	<!-- 카테고리명 -->
	<select id="getCategory"
		resultType="com.company.bbs.vo.category.CategoryVO">
	<![CDATA[ 
	select category_idx, title from jhbbs_category where del = 'N'
	]]>
	<![CDATA[ 
	order by category_idx DESC
	]]>
	</select>

	<!-- 카테고리목록
	<select id="getCategoryList"
		resultType="com.company.bbs.vo.category.CategoryVO">
	<![CDATA[ 
	select * from jhbbs_category where del = 'N'
	]]>
	<![CDATA[ 
	order by category_idx DESC
	]]>
	</select>
	 -->
	 
	<!-- 글저장 -->
	<insert id="insert"
		parameterType="com.company.bbs.vo.category.CategoryVO">
		INSERT INTO jhbbs_category (
		parent, depth, sortno,
		title, name, pass, total, kind, cipp, hit, regdate, del
		) VALUES (
		#{parent}, #{depth}, #{sortno}, #{title}, #{name},
		#{pass}, #{total}, #{kind}, #{cipp}, #{hit}, #{regdate}, #{del}
		)
	</insert>

	<!-- 답글업데이트 -->
	<update id="getReply">
	<![CDATA[
	update jhbbs_category set sortno = sortno+1 where parent=#{parent} and sortno > #{sortno}
	]]>
	</update>

	<!-- 글보기 -->
	<select id="getView"
		resultType="com.company.bbs.vo.category.CategoryVO">
		select * from jhbbs_category where category_idx =
		#{category_idx} and del = 'N'
	</select>

	<!-- 글수정 -->
	<update id="update">
		update jhbbs_category set
		title=#{title},
		kind=#{kind},
		cipp=#{cipp}
		where
		category_idx=#{category_idx}
	</update>

	<!-- 글삭제 <delete id="delete"> delete from jhbbs_bbs_category where category_idx 
		= #{category_idx} </delete> -->

	<!-- 글삭제 update처리 -->
	<update id="delete">
		update jhbbs_category set del = 'Y' where
		category_idx = #{category_idx}
	</update>

	<!-- 글조회수 -->
	<update id="increaseCnt">
		update jhbbs_category set hit= hit + 1 where
		category_idx = #{category_idx} and del = 'N'
	</update>

	<!-- 글이전값 -->
	<select id="getPrevNum"
		resultType="com.company.bbs.vo.category.CategoryVO">
	<![CDATA[ 
	select * from jhbbs_category where category_idx > #{category_idx} and del = 'N' order by category_idx asc limit 1
	]]>
	</select>

	<!-- 글다음값 -->
	<select id="getNextNum"
		resultType="com.company.bbs.vo.category.CategoryVO">
	<![CDATA[
	select * from jhbbs_category where category_idx < #{category_idx} and del = 'N' order by category_idx desc limit 1
	]]>
	</select>

	<!-- 글최고값 -->
	<select id="getMaxNum" resultType="int">
		select max(category_idx) from jhbbs_category
		<include refid="search"></include>
	</select>

	<!-- 글갯수 -->
	<select id="getCount" resultType="int">
	<![CDATA[ 
	select count(category_idx) from jhbbs_category where category_idx > 0 and del = 'N' 
	]]>
		<include refid="category"></include>
		<include refid="search"></include>
	</select>

	<!-- 글비밀번호리턴 -->
	<select id="getPassword" resultType="String">
		select pass from
		jhbbs_category where category_idx = #{category_idx} and del = 'N'
	</select>

	<sql id="category">
		<if test="category_idx > 0">
			AND category_idx = ${category_idx}
		</if>
		<if test="category_idx == 0">
			AND category_idx > 0
		</if>
	</sql>

	<sql id="search">
		<if test="searchField != null">
			<if test="searchField == 'n'.toString()">
				AND (title LIKE CONCAT('%', #{keyWord}, '%') OR name LIKE
				CONCAT('%', #{keyWord},'%'))
			</if>
			<if test="searchField == 't'.toString()">
				AND title LIKE CONCAT('%', #{keyWord}, '%')
			</if>
			<if test="searchField == 'w'.toString()">
				AND name LIKE CONCAT('%', #{keyWord}, '%')
			</if>
			<if test="searchField == 'tw'.toString()">
				AND (title LIKE CONCAT('%', #{keyWord}, '%') OR name LIKE
				CONCAT('%', #{keyWord},'%'))
			</if>
		</if>
	</sql>
</mapper>














