<? include ('../include/header.html');?>
<div id="container-wrap">
    <div class="clearfix">
        <div class="content-box">
            <div class="content-full-img01">
            </div>
            <div class="content-full-bg01-hidden">
                <section class="content">
                    <? include ('../include/content_header.html');?>
                    <article>
                        <h2>페이지</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-1-thumb.jpg" />
                                            <figcaption class="figcaption">이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-2-thumb.jpg" />
                                            <figcaption class="figcaption">이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-3-thumb.jpg" />
                                            <figcaption class="figcaption">이미지설명</figcaption>
                                        </div>
                                    </div>
                                </div>
                                <h3>iPad. 십 점 만점에 11점.</h3>
                                <p>새로운 Dock은 iPad에 찾아온 근본적인 변화입니다. 이제 어느 화면에서나 스와이프 한 번으로 Dock을 꺼내, 새로운 앱을 열거나 다른 앱으로 전환할 수 있죠. Dock은 자신의 입맛에 맞게 즐겨 쓰는 앱들로 설정할 수도 있습니다. 당신이 일을 시작하면 Dock도 업무 태세로 돌입하죠. 최근에 열었던 앱들과 iPhone이나 Mac에서 가장 마지막으로 사용 중이던 앱 등 당신이 필요할 법한 앱들을 똑똑하게 짐작해 Dock의 오른쪽에 표시해줍니다.</p>
                                <p>iOS 11이 ARKit을 선보입니다. 개발자들이 전 세계 십억 대 이상의 iOS 기기에서 즐길 수 있는 독보적인 증강 현실 경험을 손쉽게 구축할 수 있도록 하는 새로운 프레임워크죠. 증강 현실은 디지털 객체 및 정보를 주변 환경과 혼합함으로써, 앱이 화면의 제약을 벗어나 전혀 새로운 방식으로 실제 세계와 자유롭게 상호 작용할 수 있도록 합니다. 게임과 앱은 전에 없이 뛰어난 몰입감과 실감 나는 경험을 선사하죠. 이 세상 것이 아니지만 이 세상에 실재하는 듯한 그런 느낌이랄까요.</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-4-thumb.jpg" />
                                            <figcaption class="figcaption">이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                    </div>
                                </div>
                                <h3>파일. 어딜 가든 모든 파일이 여기 옹기종기.</h3>
                                <p>새로운 '파일' 앱은 당신의 모든 파일을 한데 모아줍니다. 어떤 파일이든 한 곳에서 쉽게 찾아보고, 검색하고, 정리할 수 있죠. 게다가 최근 사용한 파일들을 따로 모아놓은 전용 공간까지 있답니다. iPad에 있는 파일뿐 아니라 앱, 다른 iOS 기기, iCloud Drive, 그리고 Box와 Dropbox 같은 기타 서비스의 파일까지 모두 취급하죠.</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-5-thumb.jpg" />
                                            <figcaption class="figcaption">이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-6-thumb.jpg" />
                                            <figcaption class="figcaption">이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-7-thumb.jpg" />
                                            <figcaption class="figcaption">이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-8-thumb.jpg" />
                                            <figcaption class="figcaption">이미지설명</figcaption>
                                        </div>
                                    </div>
                                </div>
                                <h3>멀티태스킹. 여러 일 하기 여러모로 좋아지다.</h3>
                                <p>iOS 11에서는 멀티태스킹이 어느 때보다 쉽고 직관적입니다. 사용 중이던 앱은 그대로 두고 Dock에서 바로 앱을 하나 더 열면 두 개의 앱이 모두 Slide Over 및 Split View에서 활성화된 상태로 유지되죠. Slide Over에 떠있는 두 번째 앱을 왼쪽으로 드래그해 이동시킬 수도 있습니다. 새롭게 디자인된 '앱 전환기'에서, 즐겨 쓰는 App Space 조합을 다시 불러올 수도 있답니다.</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-9-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-8-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-7-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                </div>
                                <h3>드래그 앤 드롭. 이제 손가락으로.</h3>
                                <p>'드래그 앤 드롭'을 이제 iPad에서도 만날 수 있습니다. 한 앱에서 다른 앱으로 텍스트, 사진, 파일들을 옮길 수 있죠. 게다가 iPad의 커다란 Multi-Touch 디스플레이를 위해 특별히 설계되었기 때문에 iPad에서의 '드래그 앤 드롭'은 사뭇 마법 같습니다. 화면 위 모든 곳에 있는 거의 모든 것들을 한 번에 하나씩, 혹은 여러 개씩 터치로 선택해 옮길 수 있답니다.</p>
                                <h3>Apple Pencil. 다양하게 쓰려거든 연필로 쓰세요.</h3>
                                <p>iOS 11은 iPad Pro용 Apple Pencil에 그 어느 때보다 더 커진 다재다능함과 강력함, 자연스러움을 선사합니다. 어떤 종류의 작업에 사용하든 쓰임새도 더욱 많아졌답니다. 메모를 하거나, 업무를 처리하거나, 아니면 그냥 창의력을 발휘하고 싶을 때에도 말이죠.</p>
                                <p>새로운 Dock은 iPad에 찾아온 근본적인 변화입니다. 이제 어느 화면에서나 스와이프 한 번으로 Dock을 꺼내, 새로운 앱을 열거나 다른 앱으로 전환할 수 있죠. Dock은 자신의 입맛에 맞게 즐겨 쓰는 앱들로 설정할 수도 있습니다. 당신이 일을 시작하면 Dock도 업무 태세로 돌입하죠. 최근에 열었던 앱들과 iPhone이나 Mac에서 가장 마지막으로 사용 중이던 앱 등 당신이 필요할 법한 앱들을 똑똑하게 짐작해 Dock의 오른쪽에 표시해줍니다.</p>
                                <p>iOS 11이 ARKit을 선보입니다. 개발자들이 전 세계 십억 대 이상의 iOS 기기에서 즐길 수 있는 독보적인 증강 현실 경험을 손쉽게 구축할 수 있도록 하는 새로운 프레임워크죠. 증강 현실은 디지털 객체 및 정보를 주변 환경과 혼합함으로써, 앱이 화면의 제약을 벗어나 전혀 새로운 방식으로 실제 세계와 자유롭게 상호 작용할 수 있도록 합니다. 게임과 앱은 전에 없이 뛰어난 몰입감과 실감 나는 경험을 선사하죠. 이 세상 것이 아니지만 이 세상에 실재하는 듯한 그런 느낌이랄까요.</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-6-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-5-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-4-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-3-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-2-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img src="/jhbbs/images/thumbnail/post-1-thumb.jpg" />
                                            <figcaption>이미지설명</figcaption>
                                        </div>
                                    </div>
                                </div>
                                <h3>콘텐츠 매니지먼트 소개</h3>
                                <p>콘텐츠 서비스는 사용자들이 좋은 콘텐츠를 편하게 즐기는 것을 목표로 하고, 콘텐츠 매니저는 그 목표가 잘 이뤄지도록
                                    <h3>콘텐츠 매니저란?</h3>
                                    <p>콘텐츠가 만들어지고 사용자에게 도달하기까지 여러 과정을 거치게 되는데요, 그만큼 콘텐츠 매니저가 수행하는 역할도 다양합니다. 콘텐츠 생산자가 더 좋은 콘텐츠를 생산할 수 있도록 든든한 조력자가 되어야 하고, 콘텐츠가 본래의 가치를 충분히 담고 사용자에게 전달될 수 있는지에 대해서도 고민을 해야 합니다.</p>
                                    <p>서비스에서 제공한 콘텐츠로 사용자들이 충분히 만족스러운 경험을 했을 지에 대해서도 끊임없이 질문과 확인을 해야 합니다.</p>
                                    <h3>어떤 역량이 있어야 하나요?</h3>
                                    <p>콘텐츠 매니저에게 필요한 역량은 다양합니다. 콘텐츠의 시작과 끝까지 챙겨야 하는 업무이기 때문에 꼼꼼함은 필수입니다. 콘텐츠 생산자와 직접 소통이 필요한 경우에는 부드럽고 정확한 커뮤니케이션 능력이 필요하며, 콘텐츠가 사용자에게 보여지는 방식을 개선하기 위해서는 서비스 플랫폼에 대한 이해도 필요합니다.</p>
                                    <p>사용자들이 원하는 콘텐츠를 빠르게 잡아낼 수 있도록, 콘텐츠 자체에 대한 감각과 기준도 놓쳐서는 안됩니다. 하지만 무엇보다 중요한 것은, 본인이 맡은 콘텐츠에 대한 애정과 깊이 있는 이해입니다. 세상엔 다양한 종류의 콘텐츠가 있고, 콘텐츠의 성격도 종류별로 다를 수 밖에 없습니다. 콘텐츠의 특성을 명확하게 이해하고, 특성에 필요한 역량을 스스로 키워낼 수 있는 사람은 좋은 콘텐츠 매니저가 될 수 있습니다.</p>
                                    <h3>이후의 커리어는?</h3>
                                    <p>콘텐츠 매니저로 탄탄한 경력을 갖춘다면, 해당 콘텐츠 산업 대한 전문가로의 능력을 갖추게 된다는 뜻입니다. 콘텐츠 매니저의 업무 중 하나에 집중하여 콘텐츠 기획, 소싱, 운영 각 분야의 전문가로서 커리어를 발전시킬 수 있습니다.</p>
                                    <h3>서비스 매니저가 갖춰야 할 소양은 무엇인가요?</h3>
                                    <h4>1) 관찰</h4>
                                    <p>서비스매니저는 우선 사용자에 대한 관찰부터 시작합니다. 개인의 하루 일상과 같은 아주 일반적인 행동부터, 수많은 사람들의 공통된 행태까지 이 모든 것에 대한 관찰은 더 좋은 서비스를 만들기 위한 씨앗과도 같습니다. 또 하나는 사용자를 둘러싼 환경에 대한 관찰입니다. IT기술의 진화, 매체의 변화, 지금 가장 선호되는 트렌드 등을 주의 깊게 살피고 이해하고 있어야 합니다.</p>
                                    <h4>2) 소통</h4>
                                    <p>사용자는 끊임없이 우리와 이야기하고 싶어합니다. 직접 만나서 대화를 하기도 있고, 기술제안이나 불편을 SNS나 미디어를 통해 전달하기도 합니다. 그렇기 때문에 우리는 사용자의 이야기를 잘 듣고, 이해하고, 우리의 입장을 잘 전달할 수 있는 소통 능력이 매우 중요합니다.</p>
                                    <p>환경과의 소통도 중요합니다. 변화하는 환경을 배우고, 진화하는 매체와 새롭게 나타나는 서비스를 경험하는 모든 행동은 결국 새로운 환경과 서로 소통하는 과정입니다. 마지막으로 사용자와 환경을 연결시켜주는 소통이 필요합니다. 우리는 사용자의 환경의 중간에서 끊임없이 대화하는 역할을 합니다. 사용자의 불편함이 새로운 환경을 통해서 개선될 수 있다는 믿음을 가지고 서로를 이해시키기 위한 과정, 어쩌면 이는 조금 지루할 수도 있고, 다소 시간이 많이 걸릴 수도 있지만 이 과정은 새로운 서비스의 싹을 틔우는 중요한 과정입니다. 여러분은 소통하실 준비가 되었는지요?</p>
                                    <h4>3) 열정</h4>
                                    <p>서비스매니저의 역할은 관찰과 소통을 중심이 되는 ‘시간’과의 싸움입니다. 너무 빨라도, 너무 느려도 사용자들은 쉽게 저희의 서비스를 이해해주지 않습니다. 누구보다 기민하게 움직여야 할 때도 있고, 무작정 기다리기도 합니다. 최적의 시간을 찾기 위한 노력은 바로 작은 것이라도 사용자를 편하게 만들어보겠다는 믿음과 열정이 없이는 불가능한 일입니다.</p>
                                    <h3>서비스 매니저는 어떤 일을 하나요?</h3>
                                    <p>“오늘 하루의 시작은 어제 적용한 서비스에 대한 사용자 의견을 알아보는 것으로 시작했다. 새벽시간 두근대는 마음으로 서비스 배포를 진행했는데, 잘 된 걸까? 라는 생각에 잠을 설쳤다. 만족한다는 의견, 수고했다는 칭찬에 어깨가 으쓱대지만, 내가 미쳐 생각하지 못했던 불편함을 호소하는 분들께는 미안한 마음이 앞선다. 함께 서비스를 만든 디자이너, 개발자들과 간단한 미팅을 진행했다. 피곤한 기색은 있으셨지만, 모두들 더 좋은 서비스를 만들어야 한다는 열정에는 변함이 없었다.</p>
                                    <p>오늘 오후에는 경쟁사에서 신규서비스 발표가 있었다. 우리를 위협할 수도 있는 중요 서비스라는 소문이 있었고, 대대적인 언론 보도와 런칭 행사, 이벤트까지,, 그리고 내일 새벽에는 새로운 스마트폰 발표까지 예고되어 있다니?! 왜 이렇게 알아야 할 것이 많은 건지 걱정도 되지만, 반대로 그만큼 우리에게 앞으로도 할 수 있는 일이 많다는 이야기도 된다. 게다가 경쟁사에서 생각한 사용자 불편은 무엇이고 어떻게 해결했는지 배운다는 점에서 이런 소식은 무척 흥분된다. </p>
                                    <p>지난 몇 주간 준비했던 서비스 기획을 발표했던 회의 시간이 끝났다. 개발과 디자인, 그리고 다른 매니저분들의 의견을 듣고, 내 생각을 이해시키는 과정은 항상 시간이 많이 걸리고 어렵다. 듣고 고치고 이해하고 설득하고,, 하지만, 조금 더 있으면 사용자와 만날 수 있다고 생각하면서 좀 더 힘을 내본다,, 아,,그러고 보니 지금 몇 시지? 어느 서비스매니저의 일기</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img src="/jhbbs/images/thumbnail/post-1-thumb.jpg" />
                                                <figcaption class="figcaption">이미지설명</figcaption>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img src="/jhbbs/images/thumbnail/post-2-thumb.jpg" />
                                                <figcaption class="figcaption">이미지설명</figcaption>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="thumbnail">
                                                <img src="/jhbbs/images/thumbnail/post-3-thumb.jpg" />
                                                <figcaption class="figcaption">이미지설명</figcaption>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>
<? include ('../include/footer.html');?>