<article>
    <div class="content-style"></div>
    <h1 class="content-title"></h1>
    <h2 class="content-subtitle">InnoMaps MMS(Mobile Mapping System)</h2>
    <h3 class="content-desc">Accurate and fast gathering of spatial information Making your surroundings captured exactly as they are Providing you with Direct Geo-referencing by sensor fusion Collecting all types of point cloud data from UAS MMS, Land MMS and Indoor MMS InnoMaps, World-leading MMS provider</h3>
    <h4 class="content-summary">Real world data collecting tools</h4>
</article>
<div class="lead">
    2D, 3D 데이터 수집 및 처리, 항법, 이미지 프로세싱 등 다양한 지식과 프로젝트경험을 가진 전문 개발 인력으로 구성.<br>
    주요 사업영역은 건설, 토목, 재해, 재난관리를 위한 지형 및 시설물 데이터 수집장비(하드웨어) 개발 그리고 변환 소프트웨어 개발.
</div>