<div class="gnb-box">
    <nav class="gnb">
        <ul>
            <li><a href="/jhbbs/modules/login/login.html"><i class="fas fa-user-lock"></i> 로그인</a></li>
            <li><a href="/jhbbs/modules/member/member_auth.html"><i class="fas fa-address-card"></i> 회원가입</a></li>
            <li><a href="/jhbbs/index.html"><i class="fas fa-desktop"></i> 메인화면</a></li>
            <li><a href="/jhbbs/contents/sitemap.html"><i class="fas fa-sitemap"></i> 사이트맵</a></li>
            <li><a href="/jhbbs/modules/board/board_list.html"><i class="fas fa-users"></i> 고객센터</a></li>
            <li><a href="/jhbbs/contents/map.html" target="_blank"><i class="fas fa-map"></i> 지도서비스</a></li>
        </ul>
        <a href="#" id="pull"><i class="fas fa-bars"></i></a>
    </nav>
</div>