<? include ('head.html');?>

<body>
    <div id="preloader">
        <div id="status"></div>
    </div>
    <div id="wrap">
        <div id="header-wrap">
            <div class="header-box">
                <header class="header">
                    <? include ('gnb.html');?>
                    <div class="logo-box">
                        <h1 class="logo"><a href="/jhbbs/index.html"><img src="/jhbbs/images/logo/logo.png" /></a></h1>
                    </div>
                    <div class="lnb-box">
                        <nav class="lnb">
                            <ul>
                                <li class="dropdown">
                                    <a href="/jhbbs/contents/slider.html"> 인덱스폼</a>
                                    <ul class="dropdown-submenu">
                                        <li><a href="/jhbbs/contents/slider.html">슬라이드 인덱스</a></li>
                                        <li><a href="/jhbbs/contents/video.html">동영상 인덱스</a></li>
                                        <li><a href="/jhbbs/contents/div-center.html">가운데정렬</a></li>
                                        <li><a href="/jhbbs/contents/table.html"> 테이블폼</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/jhbbs/modules/login/member_login.html"> 로그인폼</a>
                                    <ul class="dropdown-submenu">
                                        <li><a href="/jhbbs/modules/login/member_login.html">회원로그인</a></li>
                                        <li><a href="/jhbbs/modules/login/login.html">로그인풀화면</a></li>
                                        <li><a href="/jhbbs/modules/login/member_find.html">아이디/비밀번호찾기</a></li>
                                        <li><a href="/jhbbs/modules/member/member_auth.html">회원실명인증</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/jhbbs/modules/member/member_agree.html"> 회원가입폼</a>
                                    <ul class="dropdown-submenu">
                                        <li><a href="/jhbbs/modules/member/member_write_group.html">회원가입(그룹)</a></li>
                                        <li><a href="/jhbbs/modules/member/member_agree.html">개인정보동의</a></li>
                                        <li><a href="/jhbbs/modules/member/member_write.html">회원가입</a></li>
                                        <li><a href="/jhbbs/modules/member/member_view.html">회원정보</a></li>
                                        <li><a href="/jhbbs/modules/member/member_edit.html">회원수정</a></li>
                                        <li><a href="/jhbbs/modules/member/member_list.html">회원목록</a></li>
                                        <li><a href="/jhbbs/modules/member/member_delete.html">회원삭제</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/jhbbs/modules/board/board_list.html"> 게시판폼</a>
                                    <ul class="dropdown-submenu">
                                        <li><a href="/jhbbs/modules/board/board_list.html">기본게시판</a></li>
                                        <li><a href="/jhbbs/modules/category/category_list.html">분류게시판</a></li>
                                        <li><a href="/jhbbs/modules/comment/comment_list.html">댓글게시판</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/jhbbs/contents/content01.html"> 컨텐츠폼</a>
                                    <ul class="dropdown-submenu">
                                        <li><a href="/jhbbs/contents/content01.html">컨텐츠폼01</a></li>
                                        <li><a href="/jhbbs/contents/content02.html">컨텐츠폼02</a></li>
                                        <li><a href="/jhbbs/contents/content03.html">컨텐츠폼03</a></li>
                                        <li><a href="/jhbbs/contents/content04.html">컨텐츠폼04</a></li>
                                        <li><a href="/jhbbs/contents/content05.html">컨텐츠폼05</a></li>
                                        <li><a href="/jhbbs/contents/content06.html">영어기초회화</a></li>
                                        <li><a href="#">메뉴추가</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/jhbbs/contents/innomaps.html"> InnoMaps</a>
                                    <ul class="dropdown-submenu">
                                        <li><a href="/jhbbs/contents/company.html"> 회사소개</a></li>
                                        <li><a href="/jhbbs/contents/solution.html"> 솔루션</a></li>
                                        <li><a href="/jhbbs/contents/business.html"> 비즈니스</a></li>
                                        <li><a href="/jhbbs/contents/services.html"> 서비스</a></li>
                                        <li><a href="/jhbbs/contents/database.html"> 데이터베이스</a></li>
                                        <li><a href="/jhbbs/contents/support.html"> 문의사항</a></li>
                                        <li><a href="/jhbbs/contents/contact.html"> Contact</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>                    
                </header>
            </div>
        </div>