<!DOCTYPE html>
<html lang="kor">
<head>
    <title>Houzz Story</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content=-1 />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&display=swap&subset=korean" rel="stylesheet">
    <!-- <link href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css' media="all" /> -->
    <!-- <link href="/jhbbs/common/css/normalize.css" rel="stylesheet" type="text/css" media="all" /> -->
    <link href="/jhbbs/common/css/fontawesome.all.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/jhbbs/common/css/jquery.bxslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/jhbbs/common/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/jhbbs/common/css/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/jhbbs/common/css/odefault.less" rel="stylesheet/less" type="text/css" media="all" />  
    <link href="/jhbbs/common/css/ol.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/jhbbs/plugin/syntaxhighlighter/styles/shCoreDefault.css" rel="stylesheet" type="text/css" media="all" />  
    <link href="/jhbbs/plugin/syntaxhighlighter/styles/shThemeEclipse.css" rel="stylesheet" type="text/css" media="all" />   
    
    <!--  js -->
    <script src="/jhbbs/common/js/less/less.min.js" ctype="text/javascript" charset="UTF-8"></script> 
    <script src="/jhbbs/common/js/html5.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/respond.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/jquery/jquery-3.2.1.min.js" type="text/javascript" charset="UTF-8"></script>    
    <script src="/jhbbs/common/js/jquery-ui/jquery-ui.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/bootstrap/bootstrap.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/bootstrap-filestyle/bootstrap-filestyle.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/bootstrap-select/bootstrap-select.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/flexslider/jquery.flexslider-min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/fullpage/jquery.fullPage.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/bxslider/jquery.bxslider.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/vgrid/jquery.vgrid.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/masonry/masonry.pkgd.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/jquery.cycle.all.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/jquery.easing.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/jquery-validation/jquery.validate.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/jquery-validation/messages_ko.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/lightbox2/lightbox.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/ol.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/proj4.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/map.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/jhbbs/common/js/my_jquery.js" type="text/javascript" charset="UTF-8"></script>      
    
    <!--  plugin -->
    <!--<script src="/plugin/ckeditor4/basic/ckeditor.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/plugin/ckeditor4/standard/ckeditor.js" type="text/javascript" charset="UTF-8"></script>
    -->
    <script src="/jhbbs/plugin/ckeditor4/full/ckeditor.js" type="text/javascript" charset="UTF-8"></script>  
    <script src="/jhbbs/plugin/syntaxhighlighter/scripts/shCore.js" type="text/javascript" charset="UTF-8"></script> 
    <script src="/jhbbs/plugin/syntaxhighlighter/scripts/shBrushJava.js" type="text/javascript" charset="UTF-8"></script> 
    <script type="text/javascript">SyntaxHighlighter.all();</script>
</head>